body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin: auto;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

p{
    font-family:arial;
    color:red;
    margin:auto;
    text-outline:dotted;
}