
.center {
    text-align: center;
    font-size:200%;
  }

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

p {
    font-family:arial;
    color:red;
   margin:100px 200px 100px 300px;
    background-color:lightblue;
   text-transform:uppercase;
   
}

.container
{
    margin:10px 200px 50px 200px;
    color:green;
    background-color:lightblue;
    
}
div
{
    background-image:url("ui/madi.png");
}